<template>
  <div>
    <Navbar></Navbar>
    <div style="margin-right: 10%;margin-left: 10%">
      <div class="col-auto mb-5"><h1><i class="fas fa-user ml-2 mr-4 "></i>Mon compte </h1></div>

      <form class="mt-3">

        <h4 class="text-secondary mb-3">Informations personnelles</h4>
        <div class="form-row mb-3">
          <div class="col">
            <label>Prénom</label>
            <input type="text" class="form-control form-control-sm" v-model="user.first_name">
          </div>
          <div class="col">
            <label>Nom</label>
            <input type="text" class="form-control form-control-sm" v-model="user.last_name">
          </div>
          <div class="col">
          </div>
        </div>
        <div class="form-row mb-3">
          <div class="col">
            <label>Email</label>
            <input type="text" class="form-control form-control-sm" v-model="user.email">
          </div>
          <div class="col">
            <label>Mot de passe</label>
            <input type="password" class="form-control form-control-sm" v-model="user.password">
          </div>
          <div class="col">
          </div>
        </div>
        <div class="dropdown-divider mt-4"></div>
        <h4 class="text-secondary mb-3">Adresse</h4>

        <div class="form-row mb-3">
          <div class="col-8">
            <label>Ligne d'adresse</label>
            <input type="text" class="form-control form-control-sm"
                   v-model="user.address.street_name">
          </div>
        </div>
        <div class="form-row mb-3">
          <div class="col">
            <label>Ville</label>
            <input type="text" class="form-control form-control-sm"
                   v-model="user.address.city">
          </div>
          <div class="col">
            <label>Code postal</label>
            <input type="number" maxlength="5" minlength="5" min="00000" class="form-control form-control-sm"
                   v-model="user.address.postal_code">
          </div>
          <div class="col">
          </div>
        </div>

        <div class="dropdown-divider mt-4"></div>
        <h4 class="text-secondary mb-3">Informations de l'entreprise</h4>
        <div class="form-row mb-3">
          <div class="col">
            <label>Nom de l'entreprise</label>
            <input type="text" class="form-control form-control-sm" v-model="user.company_name">
          </div>
          <div class="col">
            <label>Dénomination sociale</label>
            <input type="text" class="form-control form-control-sm" v-model="user.social_denomination">
          </div>
          <div class="col">
            <label>SIRET</label>
            <input type="text" class="form-control form-control-sm" v-model="user.siret">
          </div>
        </div>
        <div class="form-row mb-3">
          <div class="col">
            <label>Numéro TVA</label>
            <input type="text" class="form-control form-control-sm" v-model="user.TVA_number">
          </div>

          <div class="col">
            <label>Numéro RCS</label>
            <input type="text" class="form-control form-control-sm" v-model="user.RCS">
          </div>
          <div class="col">
            <label>Ville d'attachement RCS</label>
            <input type="text" class="form-control form-control-sm" v-model="user.RCS_City">
          </div>

        </div>
        <div class="form-row mb-3">
          <div class="col-4">
            <label>Type de l'entreprise</label>
            <input type="text" class="form-control form-control-sm" v-model="user.company_type">
          </div>
          <div class="col m-4">
            <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="inlineRadioOptions"  v-model="user.is_association_or_gestion">
            <label class="form-check-label" >Association/Gestion</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" name="inlineRadioOptions"  v-model="user.is_BTP">
              <label class="form-check-label" >BTP</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" name="inlineRadioOptions" v-model="user.is_insurance">
              <label class="form-check-label" >Assurance</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" name="inlineRadioOptions" value=true v-model="user.is_artisant">
              <label class="form-check-label" >Artisant</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" name="inlineRadioOptions"  >
              <label class="form-check-label" >Autre</label>
            </div>
          </div>
          <div class="col-4" v-if="user.is_artisant">
            <label>Numéro d'artisant</label>
            <input type="text" class="form-control form-control-sm" v-model="user.artisant_number">
          </div>
        </div>
        <div class="dropdown-divider mt-4"></div>
        <h4 class="text-secondary mb-3">Assurance</h4>
        <div class="form-row mb-3">
          <div class="col-4">
            <label>Nom de l'assurance</label>
            <input type="text" class="form-control form-control-sm" v-model="user.insurance_mention">
          </div>
          <div class="col-8">
            <label>Adresse de l'assurance</label>
            <input type="text" class="form-control form-control-sm" v-model="user.insurance_address.street_name">
          </div>
        </div>
        <div class="form-row mb-3">
          <div class="col">
            <label>Ville de l'assurance</label>
            <input type="text" class="form-control form-control-sm" v-model="user.insurance_address.city">
          </div>
          <div class="col">
            <label>Code postal</label>
            <input type="text" class="form-control form-control-sm" v-model="user.insurance_address.postal_code">
          </div>
          <div class="col">
            <label>Couverture géographique</label>
            <input type="text" class="form-control form-control-sm" v-model="user.geographic_cover">
          </div>

        </div>
        <div class="btn btn-success" @click="updateUser">Enregistrer les modifications</div>
      </form>
    </div>

  </div>

</template>

<script>
  import Navbar from "../Navbar";
  import {User} from "../../models/User";
  import {UserRepository} from "../../repositories/UserRepository";
  import {ItemRepository} from "../../repositories/ItemRepository";
  import router from "../../router";
  import {AddressRepository} from "../../repositories/AddressRepository";
  import {Address} from "../../models/Address";

  export default {
    name: "User",
    data() {
      return {
        user: new User()
      }
    },
    methods: {
      updateUser: function () {
        if(this.user.address.id == null || this.user.address.id === -1){
          AddressRepository.create(this.user.address).then(
            address => {
              this.user.address =  address
            }
          )
        }
        if(this.user.insurance_address.id == null || this.user.insurance_address.id === -1){
          AddressRepository.create(this.user.insurance_address).then(
            address => {
              this.user.insurance_address =  address
            }
          )
        }

        setTimeout(() => {
          AddressRepository.update(this.user.address).then(
            address => {
              this.user.address =  address
              AddressRepository.update(this.user.insurance_address).then(
                address => {
                  this.user.insurance_address =  address
                  UserRepository.update(this.user).then(
                    user => {this.user = user}
                  )
                }
              )
            }
          )

        }, 2000);


      }
    },
    mounted() {
      UserRepository.get().then(
        user => {
          if (user.address === null){
            user.address = new Address()
          }
          if (user.insurance_address === null){
            user.insurance_address = new Address()
          }
          this.user = user
        }
      )

    },
    components: {
      Navbar
    }
  }
</script>

<style scoped>

</style>
