<template>

  <div class="container mt-5">
    <H1>Connexion</H1>
    <div>
      <div class="form-group">
        <label for="loginInput">Identifiant</label>
        <input type="text" class="form-control" id="loginInput">
      </div>
      <div class="form-group">
        <label for="passwordInput">Mot de passe</label>
        <input type="password" class="form-control" id="passwordInput">
      </div>
      <div v-if="errors" class="alert alert-danger" role="alert">
        {{ errors}}
      </div>
      <button class="btn btn-primary" @click="login">Se connecter</button>
    </div>
  </div>
</template>

<script>
  import {LoginRepository} from "../repositories/LoginRepository";
  import router from "../router/index";
  import Navbar from "./Navbar";
  export default {
    name: 'Login',
    components: {Navbar},
    data() {
      return {
        errors: ''
      }
    },
    methods: {
      login: function () {
        //router.push({name: "Invoices"})
        let login = $('#loginInput').val()
        let password = $('#passwordInput').val()
        LoginRepository.login(login, password).then(
          token => {
            this.errors = ""
            router.push({name: "Invoices"})
          }
        ).catch(
          e => this.errors = "Identifiant ou mot de passe invalide"
        )
      },
    }
  }
</script>


