<template>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow mb-5 shadow">
    <a class="navbar-brand " href="#">P O L Y F A C T U R E</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
      <div class="navbar-nav mt-3 mb-2">
        <div class="nav-item nav-link mr-2" ><i class="fas fa-home mr-1 "></i>Accueil </div>
        <div class="nav-item nav-link mr-2"  @click="invoices"><i class="fas fa-file-alt mr-1"></i>Factures</div>
        <div class="nav-item nav-link mr-2"  @click="account"><i class="fas fa-euro-sign mr-1 "></i>Recettes</div>
        <div class="nav-item nav-link mr-2"  @click="clients"><i class="fas fa-users mr-1 "></i>Clients</div>
        <div class="nav-item nav-link mr-2"  @click="items"><i class="fas fa-box mr-1 "></i>Produits/Services</div>
        <div class="nav-item nav-link mr-2" @click="user"><i class="fas fa-user mr-1 "></i>Compte</div>
        <div class="nav-item nav-link active" style="color:white">Deconnexion</div>
      </div>
    </div>
  </nav>
</template>

<script>
  import router from "../router/index";

  export default {
    name: "Navbar",
    data() {
      return {
        errors: ''
      }
    },
    methods: {
      createClient: function () {
        if(router.currentRoute.name !== "ClientCreation"){
          router.replace({name: "ClientCreation"})
        }
      },
      clients: function () {
        if(router.currentRoute.name !== "Clients"){
          router.replace({name: "Clients"})
        }
      },
      items: function () {
        if(router.currentRoute.name !== "Items"){
          router.replace({name: "Items"})
        }
      },
      invoices: function () {
        if(router.currentRoute.name !== "Invoices"){
          router.replace({name: "Invoices"})
        }
      },
      account: function () {
        if(router.currentRoute.name !== "Account"){
          router.replace({name: "Account"})
        }
      }
      ,
      user: function () {
        if(router.currentRoute.name !== "User"){
          router.replace({name: "User"})
        }
      }
    }
  }
</script>

<style>
  .btn-group-xs > .btn, .btn-xs {
    padding: 0;
    font-size: .875rem;
    line-height: .5;
    border-radius: .2rem;
  }

  .btn-round-lg {
    border-radius: 22.5px;
  }

  .btn-round {
    border-radius: 17px;
  }

  .btn-round-sm {
    border-radius: 15px;
  }

  .btn-round-xs {
    border-radius: 11px;
    padding-left: 10px;
    padding-right: 10px;
  }
</style>
