<template>
  <div class="modal " id="accountLineCreationModal" role="dialog" aria-labelledby="exampleModalLabel"
       aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Nouvelle ligne de compte</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form class="mt-3">
            <div class="form-row mb-3">
              <label>Facture</label>
              <select class="form-control" id="invoiceSelect" v-model="selectedInvoice">
                <option v-for="invoice in invoices" v-bind:value="invoice">
                  {{invoice.creation_date}} - {{invoice.invoice_number}}
                </option>
              </select>
            </div>

            <div class="form-row mb-3">
              <div class="col">
                <label>Date</label>
                <input type="date" class="form-control" v-model="accountLine.account_line_date" :readonly="selectedInvoice !=null">
              </div>
              <div class="col">
              </div>
            </div>
            <div class="form-row mb-3">
              <div class="col">
                <label>Description</label>
                <textarea class="form-control" v-model="accountLine.description" :readonly="selectedInvoice !=null"/>
              </div>
            </div>
            <div class="col-auto "><h4>Client </h4></div>

            <div class="form-row mb-3">
              <div class="col-6">
                <select class="form-control " v-model="accountLine.client" v-if="selectedInvoice ==null">
                  <option v-for="client in clients" v-bind:value="client">
                    <template v-if="!client.company_name">
                      {{client.first_name}} {{client.last_name}}
                    </template>
                    <template v-else>
                      {{client.company_name}}
                    </template>
                  </option>
                </select>
                <div class="form-row mb-3 ml-3" v-if="accountLine.client && selectedInvoice!=null">
                  <template v-if="!accountLine.client.company_name">
                    {{accountLine.client.first_name}} {{accountLine.client.last_name}}
                  </template>
                  <template v-else>
                    {{accountLine.client.company_name}}
                  </template>
                </div>

              </div>
            </div>
            <div class="col-auto "><h4>Produits et services </h4></div>
            <div class="form-row mb-3" v-if="selectedInvoice==null">
              <div class="col-6">
                <select class="form-control " v-model="selectedItem">
                  <option v-for="item in items" v-bind:value="item">
                    <b>#{{item.ref}}</b> - {{item.name}}
                  </option>
                </select>
              </div>
              <div class="col-auto">
                <button class="btn btn-success" @click="addItem()"><i class="fas fa-plus ml-2 mr-2 "></i>Ajouter le
                  produit
                </button>
              </div>
            </div>
            <table class="table table-hover ">
              <thead class="thead-light">
              <tr>
                <th scope="col">Ref</th>
                <th scope="col">Nom</th>
                <th scope="col">Prix HT</th>
                <th scope="col">Taxe</th>
                <th scope="col">Quantité</th>
                <th scope="col">Action</th>

              </tr>
              </thead>
              <tbody>
              <tr v-for="itemLine in accountLine.item_lines">
                <th scope="row">{{itemLine.item.ref}}</th>
                <th>{{itemLine.item.name}}</th>
                <td>{{itemLine.item.pre_tax_price}}€</td>
                <td>{{itemLine.item.tax*100}}%</td>
                <td><input class="form-control " type="number" min="0" step="1" placeholder="1"
                           v-model="itemLine.quantity" :readonly="selectedInvoice !=null"></td>
                <td>
                  <button class="btn btn-danger btn-sm" @click="deleteItem(item)" :disabled="selectedInvoice !=null">
                    Supprimer
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
          <button type="button" class="btn btn-primary" @click="createAccountLine(accountLine)">Créer</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

  import {AccountLine} from "../../models/AccountLine";
  import {ItemLine} from "../../models/ItemLine";
  import {InvoiceRepository} from "../../repositories/InvoiceRepository";
  import {ItemRepository} from "../../repositories/ItemRepository";
  import {ClientRepository} from "../../repositories/ClientRepository";
  import {AccountLineRepository} from "../../repositories/AccountLineRepository";
  import {ItemLineRepository} from "../../repositories/ItemLineRepository";
  import router from "../../router";

  export default {
    name: "AccountLineCreation",
    data() {
      return {
        showDetails: false,
        accountLine: new AccountLine(),
        selectedItem: null,
        items: [],
        invoices: [],
        clients: [],
        selectedInvoice: null
      }
    },
    mounted() {
      this.accountLine.item_lines = []
      ClientRepository.getAll().then(
        clients => {
          this.clients = clients
        }
      )
      ItemRepository.getAll().then(
        items => {
          this.items = items
        }
      )
      InvoiceRepository.getAll().then(
        invoices => {
          this.invoices = invoices
        }
      )

      $('#invoiceSelect').change(() => {

        this.accountLine.invoice_id = this.selectedInvoice.id
        this.accountLine.description = this.selectedInvoice.description
        this.accountLine.item_lines = this.selectedInvoice.item_lines
        this.accountLine.account_line_date = this.selectedInvoice.creation_date
        this.accountLine.client_id = this.selectedInvoice.client_id
        this.accountLine.client = this.selectedInvoice.client

        this.$forceUpdate()
      })

      $('.modal').on('hide.bs.modal', () => {
        this.accountLine = new AccountLine()
        this.accountLine.item_lines = []
        this.selectedInvoice = null
        this.$forceUpdate()

      })


    },
    methods: {

      addItem: function () {
        let isInInvoiceItem = false
        this.accountLine.item_lines.forEach(
          itemLine => {
            if (this.selectedItem.id === itemLine.item.id) {
              isInInvoiceItem = true
            }
          })
        if (this.selectedItem != null && this.selectedItem && !isInInvoiceItem) {
          let itemLine = new ItemLine()
          itemLine.item = this.selectedItem
          itemLine.quantity = 1
          this.accountLine.item_lines.push(itemLine)
          this.$forceUpdate()
        }
      },
      deleteItem: function (itemLine) {
        const index = this.accountLine.item_lines.indexOf(itemLine)
        this.accountLine.item_lines.splice(index, 1)
        this.$forceUpdate()
      },
      createAccountLine : function (accountLine){
          AccountLineRepository.create(this.accountLine).then(
            accountLineReturned=>{

              let items = this.accountLine.item_lines.length
              let count = 0
              this.accountLine.item_lines.forEach(
                itemLine =>{
                  itemLine.item_id = itemLine.item.id
                  itemLine.account_line_id = accountLineReturned.id
                  if(this.accountLine.invoice_id !== -1){
                    ItemLineRepository.update(itemLine).then(
                      itemLine=>{
                        count +=1
                        if(count===items){

                        }
                      }
                    )
                  }
                  else{
                    ItemLineRepository.create(itemLine).then(
                      itemLine=>{
                        count +=1
                        if(count===items){

                        }
                      }
                    )
                  }

                }
              )
            }
          )
      }
    }
  }
</script>

<style scoped>
  .list-group-item-sm {
    position: relative;
    display: block;
    padding: 0.4%;
    margin-bottom: -1px;
    border: 1px solid #ddd;
    line-height: 1em
  }
</style>
