<template>
  <div  >
    <div class="row"  >
      <div class="col-2 border-right" @click="showDetails = !showDetails"><b>{{accountLine.account_line_date}}</b></div>
      <div class="col-3 border-right" @click="showDetails = !showDetails">{{accountLine.description}}</div>
      <div class="col-2 border-right" @click="showDetails = !showDetails"> {{accountLine.client.first_name}}</div>
      <div class="col-2 border-right" @click="showDetails = !showDetails">{{accountLine.pre_tax_total}}€</div>
      <div class="col-2 border-right" @click="showDetails = !showDetails">{{accountLine.tax_amount}}€</div>
      <div class="col-1 " style="cursor: pointer;"><a v-if="accountLine.invoice" v-bind:href="'http://localhost:8000/exportinvoice/'+accountLine.invoice.id+'/'" target="_blank"><i class="fa fa-file-alt"></i></a></div>
    </div>
    <ul class="list-group mt-4 mb-4 shadow" v-if="showDetails && itemLines && itemLines.length >0"  @click="showDetails = !showDetails" >
      <li class="list-group-item  list-group-item-sm list-group-item-secondary " style="background-color: lightsalmon">
        <div class="row">
          <div class="col-2 " ><b>Ref</b></div>
          <div class="col-2 "><b>Nom</b></div>
          <div class="col "><b>Prix /u HT</b></div>
          <div class="col "><b>Taxe</b></div>
          <div class="col "><b>Quantité</b></div>
          <div class="col "><b>Total HT</b></div>
          <div class="col"><b>Total TTC</b></div>
        </div>
      </li>
      <li class="list-group-item list-group-item-light" v-for="itemLine in itemLines">
        <div class="row">
          <div class="col-2 border-right"><b>{{itemLine.item.ref}}</b></div>
          <div class="col-2 border-right">{{itemLine.item.name}}</div>
          <div class="col border-right">{{itemLine.item.pre_tax_price.toFixed(2)}}€</div>
          <div class="col border-right">{{(itemLine.item.tax* 100).toFixed(2)}}%</div>
          <div class="col border-right">{{itemLine.quantity}}</div>

          <div class="col border-right">{{(itemLine.quantity * itemLine.item.pre_tax_price).toFixed(2)}}€</div>
          <div class="col">{{(itemLine.quantity * itemLine.item.pre_tax_price + (itemLine.quantity * itemLine.item.pre_tax_price* itemLine.item.tax)).toFixed(2) }}€</div>
        </div>
      </li>
    </ul>
  </div>

</template>

<script>

    export default {
        props: ['accountLine'],
        name: "AccountLine",data() {
        return {
          showDetails : false,
          itemLines : []
        }
      },
      mounted() {
          this.itemLines = this.accountLine.item_lines
      }

    }
</script>

<style scoped>
  .list-group-item-sm {
    position: relative;
    display: block;
    padding: 0.4%;
    margin-bottom: -1px;
    border: 1px solid #ddd;
    line-height: 1em
  }
</style>
