<template>
  <div class="w-100 l-100" >
    <navbar></navbar>
    <div  style="margin-right: 10%;margin-left: 10%">
      <div class="row">
        <div class="col-auto">
          <div class="col-auto mb-5"><h1><i class="fas fa-euro-sign ml-2 mr-2 "></i>Livre de recettes</h1></div>
        </div>
        <div class="col">
          <button class="btn btn-success mt-3" @click="createAccountLine"><i class="fas fa-plus ml-2 mr-2 "></i>Ajouter une ligne de compte</button>
        </div>
      </div>
      <ul class="list-group shadow">
        <li class="list-group-item list-group-item-secondary ">
          <div class="row">
            <div class="col-2 "><b>Date</b></div>
            <div class="col-3"><b>Descritpion</b></div>
            <div class="col-2"><b>Client</b></div>
            <div class="col-2 "><b>Prix hors taxe</b></div>
            <div class="col-2 "><b>Taxe</b></div>
            <div class="col-1 "><b>Facture</b></div>
          </div>
        </li>
        <li class="list-group-item" v-for="accountLine in accountLines" >
              <account-line-component v-bind:account-line="accountLine"></account-line-component>
        </li>
      </ul>
    </div>
    <account-line-creation></account-line-creation>
  </div>

</template>

<script>
  import {Client} from "../../models/Client";
  import {ClientRepository} from "../../repositories/ClientRepository";
  import Vue from 'vue';
  import Navbar from "../Navbar";
  import AccountLineComponent from "./AccountLineComponent";
  import {AccountLine}  from "../../models/AccountLine";
  import {ItemLine} from "../../models/ItemLine";
  import {Item} from "../../models/Item";
  import AccountLineCreation from "./AccountLineCreation";
  import ClientUpdate from "../Client/ClientUpdate";
  import {AccountLineRepository} from "../../repositories/AccountLineRepository";
  export default {
    name: "Account",

    data() {
      return {
        accountLines : []
      }
    },
    mounted() {
      AccountLineRepository.getAll().then(
        accountlines => {
          this.accountLines = accountlines
        }
      )

    },
  methods: {
    createAccountLine: function () {
      $("#accountLineCreationModal").modal("show")
    }
  },
    components: {Navbar,AccountLineComponent,AccountLineCreation}
  }
</script>

<style scoped>
.custom-shadow{
  -webkit-box-shadow: 2px 6px 31px 3px rgba(0,0,0,0.20);
  -moz-box-shadow: 2px 6px 31px 3px rgba(0,0,0,0.20);
  box-shadow: 2px 6px 31px 3px rgba(0,0,0,0.20);
}

</style>
