<template>
  <div>
    <Navbar></Navbar>
    <div class="container">
      <form class="mt-3">
        <h4 class="text-secondary mb-3">Informations</h4>

        <div class="form-row sm mb-3">
          <div class="col">
            <label>Numéro de facture</label>
            <input type="text" class="form-control  " v-model="invoice.invoice_number">
          </div>
          <div class="col">
            <label>Numéro de commande</label>
            <input type="text" class="form-control  " v-model="invoice.order_number">
          </div>
        </div>
        <div class="form-row mb-3">
        <div class="col">
          <label>Date de création</label>
          <input type="date" class="form-control " v-model="invoice.creation_date">
        </div>
        <div class="col">
          <label>Date effective</label>
          <input type="date" class="form-control " v-model="invoice.effective_date">
        </div>
      </div>

        <div class="form-row mb-3">
          <div class="col">
            <label>Délai de paiement <small>(en jour)</small></label>
            <input type="number" min="0" step="1" class="form-control "  v-model="invoice.payment_delay">
          </div>
          <div class="col">
            <label>Taux d'intérêt <small>(en cas de retard)</small></label>
            <input class="form-control " type="number" min="0.00" step="0.01" max="1.00" v-model="invoice.interest_rate">
          </div>
        </div>
        <div class="form-row mb-3">
          <div class="col">
            <label>Description</label>
            <textarea  class="form-control " v-model="invoice.description"/>
          </div>
        </div>
        <div class="dropdown-divider mt-4 mb-4"></div>
        <h4 class="text-secondary mb-3">Client</h4>
        <div class="form-row mb-3">
          <div class="col">
            <select class="form-control " v-model="invoice.client">
              <option v-for="client in clients" v-bind:value="client">
                <template v-if="!client.company_name">
                  {{client.first_name}} {{client.last_name}}
                </template>
                <template v-else>
                  {{client.company_name}}
                </template>
              </option>
            </select>
          </div>

        </div>

        <h4 class="text-secondary mb-3">Réduction </h4>
        <div class="dropdown-divider mt-4 mb-4"></div>
        <div class="form-row mb-3">
          <div class="col-6">
            <label>Réduction ou majoration <small>(en euro)</small></label>
            <input  type="number"  step="0.01" value="0.00" class="form-control " v-model="invoice.reduction">
          </div>
        </div>
        <div class="dropdown-divider mt-4 mb-4"></div>
        <h4 class="text-secondary mb-3">Produit et services</h4>
        <div class="form-row mb-3">
          <div class="col-6">
            <select class="form-control " v-model="selectedItem">
              <option v-for="item in items" v-bind:value="item">
                <b>#{{item.ref}}</b> - {{item.name}}
              </option>
            </select>
          </div>
          <div class="col-auto">
            <button class="btn btn-success" @click="addItem()">Ajouter le produit</button>
          </div>
        </div>
        <table class="table table-hover ">
          <thead class="thead-light">
          <tr>
            <th scope="col">Ref</th>
            <th scope="col">Nom</th>
            <th scope="col">Prix HT</th>
            <th scope="col">Taxe</th>
            <th scope="col">Quantité</th>
            <th scope="col">Action</th>

          </tr>
          </thead>
          <tbody>
          <tr v-for="itemLine in invoice.item_lines" >
            <th scope="row">{{itemLine.item.ref}}</th>
            <th>{{itemLine.item.name}}</th>
            <td>{{itemLine.item.pre_tax_price}}€</td>
            <td>{{itemLine.item.tax*100}}%</td>
            <td><input class="form-control " type="number" min="1" step="1" placeholder="1" v-model="itemLine.quantity"></td>
            <td>
              <button class="btn btn-secondary btn-sm " @click="updateItem(item)">Modifier</button>
              <button class="btn btn-danger btn-sm" @click="deleteItem(item)">Supprimer</button>
            </td>
          </tr>
          </tbody>
        </table>
        <div class="row">
          <div class="col-auto">
            <button class="btn btn-secondary" @click="cancel">Annuler</button>
          </div>
          <div class="col">
            <button class="btn btn-success" @click="createInvoice">Créer</button>
          </div>
        </div>
      </form>
    </div>

  </div>

</template>

<script>
  import Navbar from "../Navbar";

  import {Client} from "../../models/Client";
  import {Invoice} from "../../models/Invoice";
  import {Item} from "../../models/Item";
  import Vue from "vue";
  import ClientUpdate from "../Client/ClientUpdate";
  import {ItemRepository} from "../../repositories/ItemRepository";
  import {ClientRepository} from "../../repositories/ClientRepository";
  import {ItemLine} from "../../models/ItemLine";
  import {InvoiceRepository} from "../../repositories/InvoiceRepository";
  import {ItemLineRepository} from "../../repositories/ItemLineRepository";
  import router from "../../router";

  export default {
    name: "InvoiceCreation",
    data() {
      return {
        invoice: Invoice.from({}),
        clients: [],
        items: [],
        selectedItem: null,
      }
    },
    methods: {
      addItem: function () {
        let isInInvoiceItem = false
        this.invoice.item_lines.forEach(
          it=>{
            if(this.selectedItem.id === it.id){
              isInInvoiceItem = true
            }
          })

        if(this.selectedItem != null &&  this.selectedItem&& !isInInvoiceItem){
          let itemLine = new ItemLine()
          itemLine.quantity = 1
          itemLine.item = this.selectedItem
          this.invoice.item_lines.push(itemLine)
          this.$forceUpdate()
        }
      },
      deleteItem: function (item) {
        const index = this.invoice.item_lines.indexOf(item)
        this.invoice.item_lines.splice(index,1)
        this.$forceUpdate()
      },
      cancel: function(){
        router.replace({"name":"Invoices"})
      },
      createInvoice: function(){
        this.invoice.client_id = this.invoice.client.id
        InvoiceRepository.create(this.invoice).then(
          invoice => {
            let item_linesNb =  this.invoice.item_lines.length
            let count = 0
            this.invoice.item_lines.forEach(
              itemLine=>{
                itemLine.invoice_id = invoice.id
                itemLine.item_id = itemLine.item.id
                itemLine.account_line_id = -1
                ItemLineRepository.create(itemLine).then(
                  itemLine => {
                    count += 1
                    if(count === item_linesNb){
                      router.replace({"name":"Invoices"})
                    }
                  }
                )
              }
            )
          }
        )
      }


    },
    mounted() {
      this.invoice.item_lines = []
      this.invoice.client = null
      ItemRepository.getAll().then(
        items=> {this.items = items}
      )
      ClientRepository.getAll().then(
        clients =>{this.clients = clients}
      )

    },
    components: {
      Navbar
    }
  }
</script>

<style scoped>

</style>
