<template>
  <div>
    <Navbar></Navbar>


      <div style="margin-right: 10%;margin-left: 10%">
        <div class="row">
          <div class="col-auto mb-5"><h1><i class="fas fa-file-alt ml-2 mr-4 "></i>Factures </h1></div>
          <div class="col-lg-4">
            <div class="input-group mt-2">
              <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-default"><i
                    class="fas fa-search mr-1 "></i></span>
              </div>
              <input id="invoiceSearchInput" type="text" class="form-control" aria-label="Default"
                     aria-describedby="inputGroup-sizing-default">
            </div>
          </div>
          <div class="col-auto">
            <button class="btn btn-success btn-sm mt-3 mb-3" @click="createInvoice"><i
              class="fas fa-user-plus mr-1 "></i>Créer une facture
            </button>
          </div>
        </div>
        <table class="table shadow-sm">
          <thead class="thead-light">
          <tr>
            <th scope="col">Numéro</th>
            <th scope="col">Client</th>
            <th scope="col">Description</th>
            <th scope="col">Date effective</th>
            <th scope="col">Echéance</th>
            <th scope="col">Statut</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr v-for="invoice in invoices">
            <th scope="row">{{invoice.invoice_number}}</th>
            <td>
              <template v-if="!invoice.client.company_name">
                {{invoice.client.first_name}} {{invoice.client.last_name}}
              </template>
              <template v-else>
                {{invoice.client.company_name}}
              </template>
            </td>
            <td>{{invoice.description}}</td>
            <td>{{invoice.effective_date}}</td>
            <td>{{invoice.payment_delay}}</td>
            <td>
              <template v-if="invoice.pay_date && invoice.pay_date !== ''">Payé</template>
              <template v-else>En attente de paiement</template>
            </td>
          <td><a v-bind:href="'http://localhost:8000/exportinvoice/'+invoice.id+'/'" target="_blank"><i class="fa fa-file-alt"></i></a></td>
          </tr>
          </tbody>
        </table>
      </div>

    </div>
</template>

<script>
  import Navbar from "../Navbar";
  import {ItemRepository} from "../../repositories/ItemRepository";
  import router from "../../router";
  import {InvoiceRepository} from "../../repositories/InvoiceRepository";

  export default {
    name: "Invoices",
    data() {
      return {
        invoices: []
      }
    },
    mounted() {
      InvoiceRepository.getAll().then(
        invoices => {
          this.invoices = invoices
          this.$forceUpdate()
        }
      )
    },
    methods: {
      createInvoice: function () {
        router.replace({"name":"InvoiceCreation"})
      }
    },
    components: {
      Navbar
    }
  }
</script>

<style scoped>

</style>
