<template>
  <div class="w-100">
    <Navbar></Navbar>

    <div class="container-fluid">
      <div class="row">
        <div class="col container" style="margin-left: 5%">

          <div class="row">
            <div class="col-auto mb-5"><h1><i class="fas fa-users ml-2 mr-2 "></i>Clients </h1></div>
            <div class="col-lg-5">
              <div class="input-group mt-2">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-default"><i
                    class="fas fa-search mr-1 "></i></span>
                </div>
                <input id="clientSearchInput" type="text" class="form-control" aria-label="Default"
                       aria-describedby="inputGroup-sizing-default">
              </div>
            </div>
            <div class="col-auto">
              <button class="btn btn-success btn-sm mt-3 mb-3" @click="createClient"><i
                class="fas fa-user-plus mr-1 "></i>Ajouter un client
              </button>
            </div>
          </div>

          <table class="table table-hover shadow-sm">
            <thead class="thead-light">
            <tr>
              <th scope="col">Nom</th>
              <th scope="col">Ville</th>

            </tr>
            </thead>
            <tbody>
            <tr v-for="client in clients" @click="showClientDetail(client)">
              <th v-if="client.is_company">{{client.company_name}}</th>
              <th v-else>{{client.first_name}} {{client.last_name}}</th>
              <td>{{client.address.city}} - {{client.address.postal_code}}</td>
            </tr>

            </tbody>
          </table>
        </div>
        <div class="col" id="clientDetails">


        </div>
      </div>
    </div>
    <ClientCreation></ClientCreation>

  </div>

</template>

<script>
  import Navbar from "../Navbar";
  import ClientDetails from "./ClientDetails";
  import Vue from 'vue'
  import ClientCreation from "./ClientCreation";
  import {ClientRepository} from "../../repositories/ClientRepository";

  export default {
    name: "Clients",
    data() {
      return {
        errors: '',
        clients: [],
        clientList: []
      }
    },
    components: {
      Navbar,
      ClientDetails,
      ClientCreation
    },
    mounted() {
      ClientRepository.getAll().then(
        clients => {
          this.clients = clients
          this.clientList = this.clients
          $('#clientSearchInput').keyup(() => {
            console.log("cd")
            let val = $('#clientSearchInput').val().toLocaleLowerCase().trim()
            let newClientList = []
            console.log(this.clientList)
            this.clientList.forEach(
              client => {
                if (client.is_company) {
                  if (client.company_name.toLocaleLowerCase().includes(val) || client.address.city.toLocaleLowerCase().includes(val)) {
                    newClientList.push(client)
                  }
                } else {
                  if (client.firstname.toLocaleLowerCase().includes(val) || client.firstname.toLocaleLowerCase().includes(val) || client.address.city.toLocaleLowerCase().includes(val)) {
                    newClientList.push(client)
                  }
                }
              }
            )
            this.clients = newClientList

          });
        }
      )

      $('#clientDetails').bind('DOMSubtreeModified', (e)=> {
        $('.clientModal').on('hidden.bs.modal', ()=> {
          ClientRepository.getAll().then(clients => {
            this.clients = clients
            this.clientList = this.clients
            this.$forceUpdate()
          })
        })
      });
      $('.clientModal').on('hidden.bs.modal', ()=> {
        ClientRepository.getAll().then(clients => {
          this.clients = clients
          this.clientList = this.clients
          this.$forceUpdate()
        })
      })

    },
    updated() {

    },
    methods: {
      createClient: function () {
        $("#clientCreationModal").modal("show")
      },

      showClientDetail: function (client) {

        $("#clientDetails").html("")
        var ClientDetailsClass = Vue.extend(ClientDetails)
        var instance = new ClientDetailsClass({
          propsData: {client: client}
        })
        instance.$mount() // pass nothing
        document.getElementById("clientDetails").appendChild(instance.$el)
      }
    }
  }


</script>

<style scoped>
  .modal-open {
    padding-right: 0 !important
  }
</style>
