<template>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="card shadow">
          <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs" id="bologna-list" role="tablist">
              <li class="nav-item">
                <a id="detailsLink" class="nav-link active" role="tab" aria-controls="info" @click="showDetails">Coordonées</a>
              </li>
              <li class="nav-item">
                <a id="invoicesLink" class="nav-link" role="tab" aria-controls="invoices" @click="showInvoices">Factures</a>
              </li>
            </ul>
          </div>
          <div class="card-body">
            <div class="tab-content mt-3">
              <div id="detailsPane" class="tab-pane active"  role="tabpanel">
                <div v-if="!client.is_company">
                  <h3 class="text-secondary">{{client.first_name}} {{client.last_name}}</h3>
                  <p class="text-secondary">particulier</p>
                </div>
                <div v-else>
                  <h3>{{client.company_name}}</h3>
                  <p class="text-secondary">entreprise</p>
                </div>
                <div class="dropdown-divider mt-3"></div>
                <h5 class="mb-4">Adresse</h5>

                <div class="row">
                  <div class="col-3">
                    <p class="text-secondary">Ligne d'adresse :</p>
                  </div>
                  <div class="col">
                    <p class="text-secondary">{{client.address.street_name}} </p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-3">
                    <p class="text-secondary">Ville :</p>
                  </div>
                  <div class="col">
                    <p class="text-secondary">{{client.address.postal_code}} - {{client.address.city}}</p>
                  </div>
                </div>
                <template v-if="client.invoice_address.id">
                  <h5 class="mb-4">Adresse de facturation</h5>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-5">
                      <p class="text-secondary">Ligne d'adresse :</p>
                    </div>
                    <div class="col">
                      <p class="text-secondary">{{client.invoice_address.street_name}} </p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-5">
                      <p class="text-secondary">Ville :</p>
                    </div>
                    <div class="col">
                      <p class="text-secondary">{{client.invoice_address.postal_code}} - {{client.address.city}}</p>
                    </div>
                  </div>
                </template>
                <p class="text-secondary"></p>
                <div class="dropdown-divider"></div>
                <button class="btn btn-primary" @click="updateClient(client)">Modifier</button>
              </div>
              <div id="invoicesPane" class="tab-pane "  role="tabpanel" aria-labelledby="history-tab">
                <h3 class="mb-4">Factures</h3>
                <table class="table shadow-sm">
                  <thead class="thead-light">
                  <tr>
                    <th scope="col">Numéro</th>
                    <th scope="col">Date effective</th>
                    <th scope="col">Echéance</th>
                    <th scope="col">Statut</th>
                    <th></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr v-for="invoice in invoices">
                    <th scope="row">{{invoice.invoice_number}}</th>
                    <td>{{invoice.effective_date}}</td>
                    <td>{{invoice.payment_delay}}</td>
                    <td>
                      <template v-if="invoice.pay_date && invoice.pay_date !== ''">Payé</template>
                      <template v-else>En attente de paiement</template>
                    </td>
                    <td><a v-bind:href="'http://localhost:8000/exportinvoice/'+invoice.id+'/'" target="_blank"><i class="fa fa-file-alt"></i></a></td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="updateClient"></div>

  </div>

</template>

<script>

  import ClientUpdate from "./ClientUpdate";
  import {Client} from "../../models/Client";
  import Vue from "vue";
  import {InvoiceRepository} from "../../repositories/InvoiceRepository";

  export default {
    name: "ClientDetails",
    props: ['client'],
    data() {
      return {
        errors: '',
        invoices:[]
      }
    },
    components: {
      ClientUpdate
    },
    mounted() {
        InvoiceRepository.getClientInvoices(this.client.id).then(
          invoices => this.invoices = invoices
        )
    },
    methods: {
      updateClient: function (client) {
        $("#updateClient").html("")
        var ClientUpdateClass = Vue.extend(ClientUpdate)
        var instance = new ClientUpdateClass({
          propsData: {client: Client.from(client)}
        })
        instance.$mount() // pass nothing
        document.getElementById("updateClient").appendChild(instance.$el)

        $('#clientUpdateModal').modal("show")
      },
      showInvoices: function () {
          $("#invoicesPane").addClass("active")
          $("#invoicesLink").addClass("active")
          $("#detailsPane").removeClass("active")
          $("#detailsLink").removeClass("active")
      },
      showDetails: function () {
        $("#invoicesPane").removeClass("active")
        $("#invoicesLink").removeClass("active")
        $("#detailsPane").addClass("active")
        $("#detailsLink").addClass("active")
      }

    }

  }

</script>

<style scoped>
  .modal-open {
    padding-right: 0 !important
  }
</style>
