<template>
  <div class="modal clientModal" id="clientCreationModal" role="dialog" aria-labelledby="exampleModalLabel"
       aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Nouveau Client</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form class="mt-3">
            <div class="form-group">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck" v-model="client.is_company">
                <label class="form-check-label" for="gridCheck">
                  Entreprise
                </label>
              </div>
            </div>

            <div class="form-row mb-3" v-if="client.is_company">
              <div class="col">
                <input type="text" class="form-control form-control-sm" placeholder="Nom de l'entreprise"
                       v-model="client.company_name">
              </div>
            </div>

            <div class="form-row mb-3" v-else>
              <div class="col">
                <input type="text" class="form-control form-control-sm" placeholder="Prénom" v-model="client.first_name">
              </div>
              <div class="col">
                <input type="text" class="form-control form-control-sm" placeholder="Nom" v-model="client.last_name">
              </div>
            </div>
            <div class="row">
              <div class="col-auto">
                <h4 class="text-secondary ">Adresse postale</h4>
              </div>
              <div class="col">
                <div class="form-group">
                  <div class="form-check mt-2">
                    <input class="form-check-input" type="checkbox" v-model="billingAddress">
                    <label class="form-check-label" for="gridCheck">
                      Utiliser comme addresse de facturation
                    </label>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-row mb-3">
              <div class="col">
                <input type="text" class="form-control form-control-sm" placeholder="Adresse"
                       v-model="client.address.street_name">
              </div>
            </div>
            <div class="form-row mb-3">
              <div class="col">
                <input type="text" class="form-control form-control-sm" placeholder="Ville"
                       v-model="client.address.city">
              </div>
              <div class="col">
                <input type="text" class="form-control form-control-sm" placeholder="Code Postal"
                       v-model="client.address.postal_code">
              </div>
            </div>
            <template v-if="!billingAddress">
              <h4 class="text-secondary mt-4">Adresse de facturation</h4>
              <div class="form-row mb-3">
                <div class="col">
                  <input type="text" class="form-control form-control-sm" placeholder="Adresse"
                         v-model="client.invoice_address.street_name">
                </div>
              </div>
              <div class="form-row mb-3">
                <div class="col">
                  <input type="text" class="form-control form-control-sm" placeholder="Ville"
                         v-model="client.invoice_address.street_name">
                </div>
                <div class="col">
                  <input type="text" class="form-control " placeholder="Code Postal"
                         v-model="client.invoice_address.street_name">
                </div>
              </div>
            </template>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
          <button type="button" class="btn btn-primary" @click="createClient(client)">Créer</button>
        </div>
      </div>
    </div>
  </div>

</template>

<script>
  import {Client} from "../../models/Client";
  import {ClientRepository} from "../../repositories/ClientRepository";
  import {AddressRepository} from "../../repositories/AddressRepository";
  import router from "../../router";

  export default {
    name: "NewClient",

    data() {
      return {
        errors: '',
        client: Client.from({}),
        billingAddress: true
      }
    },
    mounted() {

      $('.modal').on('shown.bs.modal', () => {
        setTimeout(() => {
          this.client = new Client()
        }, 0);
      })


    },
    methods: {
      createClient: function (client) {
        AddressRepository.create(client.address).then(
          address => {
            client.address_id = address.id
            if (this.billingAddress) {
              client.invoice_address_id = address.id
              ClientRepository.create(client).then(
                client =>  {
                  $('.modal').modal('hide')
                }
              )
            } else {
              AddressRepository.create(client.invoice_address).then(
                address => {
                  client.invoice_address_id = address.id
                  ClientRepository.create(client).then(
                    client => {
                      $('.modal').modal('hide')
                    }
                  )
                }
              )
            }
          }
        )
      }
    },
    components: {}
  }
</script>

<style scoped>
  .modal-open {
    padding-right: 0 !important
  }

</style>
