<template>
  <div class="modal clientModal" id="clientUpdateModal" role="dialog" aria-labelledby="clientUpdateModalLabel"
       aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="clientUpdateModalLabel">Modification client</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form class="mt-3">
            <div class="form-group">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck" v-model="client.is_company">
                <label class="form-check-label" for="gridCheck">
                  Entreprise
                </label>
              </div>
            </div>

            <div class="form-row mb-3" v-if="client.is_company">
              <div class="col">
                <input type="text" class="form-control " placeholder="Nom de l'entreprise"
                       v-model="client.company_name">
              </div>
            </div>

            <div class="form-row mb-3" v-else>
              <div class="col">
                <input type="text" class="form-control " placeholder="Prénom" v-model="client.first_name">
              </div>
              <div class="col">
                <input type="text" class="form-control " placeholder="Nom" v-model="client.last_name">
              </div>
            </div>
            <div class="row">
              <div class="col-auto">
                <h4 class="text-secondary ">Adresse postale</h4>
              </div>
              <div class="col">
                <div class="form-group">
                  <div class="form-check mt-2">
                    <input class="form-check-input" type="checkbox" v-model="billingAddress">
                    <label class="form-check-label" for="gridCheck">
                      Utiliser comme addresse de facturation
                    </label>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-row mb-3">
              <div class="col">
                <input type="text" class="form-control " placeholder="Adresse" v-model="client.address.street_name">
              </div>
            </div>
            <div class="form-row mb-3">
              <div class="col">
                <input type="text" class="form-control " placeholder="Ville" v-model="client.address.city">
              </div>
              <div class="col">
                <input type="text" class="form-control " placeholder="Code Postal"
                       v-model="client.address.postal_code">
              </div>
            </div>
            <template v-if="!billingAddress && client.invoice_address">
              <h4 class="text-secondary mt-4">Adresse de facturation</h4>
              <div class="form-row mb-3">
                <div class="col">
                  <input type="text" class="form-control " placeholder="Adresse"
                         v-model="client.invoice_address.street_name">
                </div>
              </div>
              <div class="form-row mb-3">
                <div class="col">
                  <input type="text" class="form-control " placeholder="Ville"
                         v-model="client.invoice_address.street_name">
                </div>
                <div class="col">
                  <input type="text" class="form-control " placeholder="Code Postal"
                         v-model="client.invoice_address.street_name">
                </div>
              </div>
            </template>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
          <button type="button" class="btn btn-primary" @click="updateClient(client)">Enregistrer</button>
        </div>
      </div>
    </div>
  </div>

</template>

<script>
  import Navbar from "../Navbar";
  import {Client} from "../../models/Client";
  import {AddressRepository} from "../../repositories/AddressRepository";
  import {ClientRepository} from "../../repositories/ClientRepository";

  export default {
    name: "UpdateClient",
    props:['client'],
    data() {
      return {
        errors: '',
        billingAddress : false
      }
    },
    updated() {


    },
    methods: {
      updateClient: function (client) {
        AddressRepository.update(client.address).then(
          address => {
            client.address_id = address.id
            if (this.billingAddress) {
              client.invoice_address_id = address.id
              ClientRepository.update(client).then(
                client =>  {
                  $('.modal').modal('hide')
                }
              )
            } else {
              AddressRepository.update(client.invoice_address).then(
                address => {
                  client.invoice_address_id = address.id
                  ClientRepository.update(client).then(
                    client => {
                      $('.modal').modal('hide')
                    }
                  )
                }
              )
            }
          }
        )
      }
    },
    components: {
      Navbar
    }
  }
</script>

<style scoped>

</style>
