<!DOCTYPE html>
<html lang="en">
{% load customFilters %}{% load static %}
<head>
    <meta charset="utf-8">
    <title>Example 1</title>

    <style>

    </style>


</head>
<body>
<header class="clearfix">
    <div id="logo">
        <img src="logo.png">
    </div>


    <h1>Facture Numero : {{invoice_number}} <br/>
        Date facture : {{creation_date}}<br/>
        Date effective facture : {{effective_date}}<br/>
        Numero TVA : {{user.TVA_number}}</h1>
    <div id="company" class="clearfix" style="text-align: right">
        <div>{{user.company_name}}</div>
        <div>{{user.first_name}} {{user.last_name}}</div>
        <div>{{user.address.street_name}}, {{user.address.postal_code}} {{user.address.city}}</div>
        <div>{{user.email}}</div>
        <div>siret : {{user.siret}}</div>
    </div>
 <div id="project">
        <h1 style="margin-bottom: 1%">Destinataire :</h1>
        {% if client.is_company %}
        <div><span>Nom de l'entreprise :</span> {{client.company_name}}</div>
        {% endif %}
        <div><span>Client : </span> {{client.first_name}} {{client.last_name}}</div>
        {% if client.address.id == client.invoice_address_id %}
        <div><span>adresse : </span> {{client.address.street_name}}, {{client.address.postal_code}} {{client.address.city}}
        </div>
        {% else %}
        <div><span>Adresse</span> {{client.address.street_name}}, {{client.address.postal_code}} {{client.address.city}}
        </div>
        <div><span>addresse de facturation : </span> {{client.invoice_address.street_name}}, {{client.invoice_address.postal_code}}
            {{client.invoice_address.city}}
        </div>
        {% endif %}
    </div>


</header>
<main >
    <table style="margin-top:40px" class="table table-responsive">
        <thead class="thead-light">
        <tr>
            <th>PRODUIT / SERVICE</th>
            <th>DESCRIPTION</th>
            <th>PRIX HT</th>
            <th>QTE</th>
            <th>TAXE</th>
            <th>TOTAL HT</th>
            <th>TAXE</th>
        </tr>
        </thead>
        <tbody>
             <tr>
         </tr>
        {% for itemline in item_lines %}
        <tr style="text-align: center">
            <td>{{itemline.item.name}}</td>
            <td style="text-align: left">{{itemline.item.description}}</td>
            <td >{{itemline.item.pre_tax_price}}€</td>
            <td >{{itemline.quantity}}</td>
            <td >{{itemline.item.tax | multiply:100}}%</td>
            <td >{{itemline.quantity | multiply:itemline.item.pre_tax_price}}</td>
            <td >{{itemline.quantity | multiply:itemline.item.pre_tax_price | multiply:itemline.item.tax}}</td>
        </tr>
        {% endfor %}
         <tr>
         </tr>
        <tr>
            <td colspan="2"><b>TOTAL HT</b></td>
            <td class="total">{{pre_tax_total}}</td>
        </tr>
        {% if reduction != 0 %}
        <tr>
            <td colspan="2"><b>APRES REDUCTION </b>: {{reduction}}€</td>
            <td class="total">{{after_reduction}}€</td>
        </tr>
        {% endif %}
        <tr>
            <td colspan="2"><b>TAXE</b></td>
            <td class="total">{{tax_amount}}€</td>
        </tr><tr>
            <td colspan="2"><b>TOTAL TTC</b></td>
            <td class="total">{{taxed_total}}</td>
        </tr>
        </tbody>
    </table>

</main>
  <h1 style="margin-bottom: 1%; margin-top: 20px">Mentions spéciales :</h1>
    <div>Date à laquelle le règlement doit intervenir : {{pay_date}}</div>
    <div>taux penalite : {{interest_rate}}% par jour</div>
    <div>montant pénalité de 40 euros</div>

</body>
<style type="text/css">

</style>
</html>

