<template>
  <div class="modal " id="itemCreationModal" role="dialog" aria-labelledby="exampleModalLabel"
       aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Nouveau Produit/Service</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form class="mt-3">
            <h4 class="text-secondary ">Informations</h4>
            <div class="form-row mb-3">
              <div class="col">
                <label>Nom</label>
                <input type="text" class="form-control " placeholder="nom" v-model="item.name">
              </div>
              <div class="col">
                <label>Référence</label>
                <input type="text" class="form-control " placeholder="reférence" v-model="item.ref">
              </div>
            </div>
            <div class="form-row mb-3">
              <div class="col">
                <label>Description</label>
                <textarea class="form-control " placeholder="descritpion" v-model="item.description"/>
              </div>
            </div>
            <h4 class="text-secondary ">Prix</h4>
            <div class="form-row mb-3">
              <div class="col">
                <label>Prix hors taxe</label>
                <input type="number" min="0.00" step="0.01" class="form-control " placeholder="prix hors taxe"
                       v-model="item.pre_tax_price">
              </div>
              <div class="col">
                <label>taxe</label>
                <input type="number" min="0.00" step="0.01" max="1.00" class="form-control " placeholder="taxe"
                       v-model="item.tax">
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
          <button type="button" class="btn btn-primary" @click="createItem(item)">Créer</button>
        </div>
      </div>
    </div>
  </div>

</template>

<script>

  import {Item} from "../../models/Item";
  import {AddressRepository} from "../../repositories/AddressRepository";
  import {ClientRepository} from "../../repositories/ClientRepository";
  import {ItemRepository} from "../../repositories/ItemRepository";
  import router from "../../router";

  export default {
    name: "NewItem",

    data() {
      return {
        errors: '',
        item: Item.from({}),

      }
    },
    mounted() {

      $('.modal').on('shown.bs.modal', () => {
        setTimeout(() => {
          this.item = new Item()
        }, 0);
      })


    },
    methods: {
      createItem: function (item) {
        ItemRepository.create(item).then(
          item => {
            $(".modal").modal("hide")
            router.replace({"name":"Items"})
          }
        )
      }
    },
    components: {}
  }
</script>

<style scoped>
  .modal-open {
    padding-right: 0 !important
  }

</style>
