<template>
  <div class="w-100">
    <Navbar></Navbar>

    <div style="margin-right: 10%;margin-left: 10%">


          <div class="row">
            <div class="col-auto mb-5"><h1><i class="fas fa-box ml-2 mr-4 "></i>Produits et services </h1></div>
            <div class="col-lg-4">
              <div class="input-group mt-2">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-default"><i
                    class="fas fa-search mr-1 "></i></span>
                </div>
                <input id="itemSearchInput" type="text" class="form-control" aria-label="Default"
                       aria-describedby="inputGroup-sizing-default">
              </div>
            </div>
            <div class="col-auto">
              <button class="btn btn-success btn-sm mt-3 mb-3" @click="createItem"><i
                class="fas fa-user-plus mr-1 "></i>Ajouter un produit/service
              </button>
            </div>
          </div>

          <table class="table table-hover shadow">
            <thead class="thead-light">
            <tr>
              <th scope="col">Ref</th>
              <th scope="col">Nom</th>
              <th scope="col">Descritpion</th>
              <th scope="col">Prix HT</th>
              <th scope="col">Taxe</th>
              <th scope="col">Action</th>

            </tr>
            </thead>
            <tbody>
            <tr v-for="item in items" @click="updateItem(item)">
              <th scope="row">{{item.ref}}</th>
              <th>{{item.name}}</th>
              <td class="col-auto">{{item.description}} </td>
              <td>{{item.pre_tax_price}}€ </td>
              <td>{{item.tax*100}}% </td>
              <td><button class="btn btn-secondary" @click="updateItem(item)">Modifier</button> </td>
            </tr>
            </tbody>
          </table>
        </div>
    <div id="updateItem"></div>

<item-creation></item-creation>
  </div>


</template>

<script>
  import Navbar from "../Navbar";


  import router from "../../router";
  import Vue from 'vue'
  import {Item} from "../../models/Item";
  import ItemCreation from "./ItemCreation";
  import ClientUpdate from "../Client/ClientUpdate";
  import {Client} from "../../models/Client";
  import ItemUpdate from "./ItemUpdate";
  import {ClientRepository} from "../../repositories/ClientRepository";
  import {ItemRepository} from "../../repositories/ItemRepository";



  export default {
    name: "Clients",
    data() {
      return {
        errors: '',
        items: [],
        itemList: []
      }
    },
    components: {
      Navbar,
      ItemCreation
    },
    mounted() {
     ItemRepository.getAll().then(
       items=> {
         this.items = items
         this.itemList = items
       }
     )

      $('#itemSearchInput').keyup(()=>{
        let val = $('#itemSearchInput').val().toString().toLocaleLowerCase().trim()
        let newItemList = []
        this.itemList.forEach(
          item=> {
            if( item.name.toLocaleLowerCase().includes(val) ||
              item.ref.toLocaleLowerCase().includes(val) ||
              item.description.toLocaleLowerCase().includes(val) ){
              newItemList.push(item)
            }
          }
        )
        this.items = newItemList

      });

      $('.modal').on('hide.bs.modal', () =>{
        ItemRepository.getAll().then(
          items=> {
            this.items = items
            this.itemList = items
            this.$forceUpdate()
          }
        )
      })
    },
    updated() {

    },
    methods: {
      createItem: function () {
        $("#itemCreationModal").modal("show")
      },
      updateItem: function (item) {
        $("#updateItem").html("")
        var ItemUpdateClass = Vue.extend(ItemUpdate)
        var instance = new ItemUpdateClass({
          propsData: {item: Item.from(item)}
        })
        instance.$mount() // pass nothing
        document.getElementById("updateItem").appendChild(instance.$el)
        $('#itemUpdateModal').modal('show')
        $('#itemUpdateModal').on('hidden.bs.modal', function () {
          $('.modal-backdrop').remove()
          $(document.body).removeClass("modal-open");
        })
        $('#itemUpdateModal').on('hide.bs.modal', () =>{
          ItemRepository.getAll().then(
            items=> {
              this.items = items
              this.itemList = items
              this.$forceUpdate()
            }
          )
        })

      }
    }


  }


</script>

<style scoped>
  .modal-open {
    padding-right: 0 !important
  }
</style>
