<template id="app">
  <router-view/>
</template>

<script>
  import router from "./router/index";


  export default {
    name: 'App',
    mounted() {
      router.replace('/')

    }
  }
</script>

<style>
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
    margin-top: 60px;}
  .modal-open { padding-right: 0 !important }



</style>
